<nav class="breadcrumb" aria-label="Breadcrumb">
  <span class="breadcrumb__text">Estás en:</span>

  <ol class="breadcrumb__list">
    <li *ngFor="let item of items; let last = last" class="breadcrumb__item">
      <a *ngIf="item.url && !last" [routerLink]="item.url" class="breadcrumb__link">
        {{ item.label }}
      </a>

      <span *ngIf="!item.url || last" class="breadcrumb__current" [class.breadcrumb__current--active]="last">
        {{ item.label }}
      </span>

      <span *ngIf="!last" class="breadcrumb__separator">/</span>
    </li>
  </ol>
</nav>
