@use '../../../../styles/00-settings/variables' as v;
@use '../../../../styles/01-tools/mixins' as m;

.features-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: v.$spacing-8;
  position: relative;
  background: var(--bg-primary);
  border-bottom: 2px solid;
  width: 96%;

  @media (max-width: v.$breakpoint-md) {
    grid-template-columns: 1fr;
    gap: v.$spacing-10;
    padding: v.$spacing-10 v.$spacing-5;
  }
}

.vertical-divider {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--text-primary);
  transform: translateX(-50%);

  @media (max-width: v.$breakpoint-md) {
    display: none;
  }
}
